
.datatables {
  font-size: 14px;
  font-weight: 500;
  color: #F5F5F5;
}

.datatables table {
  width: 100%;
  border: 1px solid #c3c3c3;
}

.selectedTableContainer {
  min-height: 100%;
  overflow-y: auto;
}

.selectedTableContainer table {
  height: min-content;
  border: none;
}

#selected-table {
  border: 1px solid red !important;
}

/* #selected-table {
  height: auto !important;
} */