.casesDetailsPanel {
  width: 25rem;
  max-width: 350px;
  outline: 1px solid #C0C0C0;
  border-radius: 6px;
}

@media screen and (max-width: 480px) {
  .casesDetailsPanel {
    width: calc(100vw - 2rem);
    max-width: calc(100vw - 2rem);
  }
}

.casesDetailsList {
  overflow-y: auto;
  max-height: 80vh;
  scrollbar-color: #000 #fff;
  scroll-behavior: auto;
}

.caseDetailsPanelTitle {
  background-color: rgb(220,220,220);
}

.singleCaseDetails {
  background-color: rgba(255, 255, 255, 0.85);
}

.singleCaseDetails:hover {
  background-color: rgba(245, 245, 245, 0.85);
}