.overlay {
  --left-padding: 1.5rem;
  position: fixed;
  top: 1rem;
  left: var(--left-padding);
  width: calc(100vw - 2 * var(--left-padding));
  align-items: flex-start;
  justify-content: space-between;
  pointer-events: none;
  gap: 1rem;
}

.overlay > * {
  pointer-events: auto;
}

.mobileOverlay {
  --left-padding: 1rem;
  --top-padding: 1rem;
  height: calc(100lvh - 2 * var(--top-padding) - 40px);
  max-height: calc(100svh - 2 * var(--top-padding) - 40px);
  position: fixed;
  top: var(--top-padding);
  left: var(--left-padding);
  width: calc(100vw - 2 * var(--left-padding));
  pointer-events: none;
}

.mobileOverlay > * {
  pointer-events: auto;
}