.logo {
  position: absolute;
  left: 1.5rem;
  top: 1rem;
}

.mobileOverlay{
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: calc(100vw - 2rem);
  height: calc(100svh - 5rem);
  align-items: center;
  pointer-events: none;
}

.mobileTopbar {
  width: 100%;
}

.mobileOverlay > * {
  pointer-events: auto;
}

@media screen and (max-width: 480px) {
  .searchBar {
    width: 100%;
    min-width: 300px;
  }
}