.searchBar {
  width: 100%;
  padding: 1em;
}

/* @media screen and (max-width: 480px) {
  .searchBar {
    width: calc(100svw - 2rem);
    min-width: 300px;
  }
} */

.casePanel {
  width: 30vw;
  min-width: 380px;
  min-height: 100svh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(245, 245, 245, 0.75);
  border-radius: 6px;
}

.caseFilteredTags {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.25em;
  /* border: 1px solid #ceceec; */
  /* border-radius: 6px; */
  max-width: 100%;
}

.caseList {
  overflow-y: auto;
  max-height: 100svh;
  margin-top: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  scrollbar-color: #000 #fff;
  scroll-behavior: auto;
}
